<include file="Public:header" title="模块选择" keywords="模块选择"/>
<style type="text/css">
    .select-item{height: 100px;margin-top: 30px;vertical-align:middle;position: relative;overflow: hidden;background: #5bc0de;}
    .select-item-img{position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
</style>
<body>
    <div class="container">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <ul class="list-group">
                <a href="{:U('Index/index')}">
                    <li class="list-group-item select-item">人生计划
                    <!--<img class="select-item-img" src="__PUBLIC__/img/1.jpg" alt="eeee">-->
                    </li>
                </a>
                <a href="{:U('MessageBoard/index')}">
                    <li class="list-group-item select-item">时光记忆
                        <!--<img class="select-item-img" src="__PUBLIC__/img/1.jpg" alt="eeee">-->
                    </li>
                </a>
                <a href="{:U('LifeRecord/index')}">
                    <li class="list-group-item select-item">生活点滴
                        <!--<img class="select-item-img" src="__PUBLIC__/img/1.jpg" alt="eeee">-->
                    </li>
                </a>
                <a href="{:U('Index/index')}">
                    <li class="list-group-item select-item">照骗美墙
                        <!--<img class="select-item-img" src="__PUBLIC__/img/1.jpg" alt="eeee">-->
                    </li>
                </a>
                <a href="{:U('Index/index')}">
                    <li class="list-group-item select-item">旅途规划
                        <!--<img class="select-item-img" src="__PUBLIC__/img/1.jpg" alt="eeee">-->
                    </li>
                </a>
                <a href="{:U('Index/index')}">
                    <li class="list-group-item select-item">感人时刻
                        <!--<img class="select-item-img" src="__PUBLIC__/img/1.jpg" alt="eeee">-->
                    </li>
                </a>
            </ul>
        </div>
    </div>
</body>
<include file="Public:footer" />