<include file="Public:header" title="lifeRecord" keyword="lifeRecord" />

<div class="container">
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{$list.month}</h3>
            </div>
            <div class="panel-body">
                <form action="{:U('save')}" method="post" class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-xs-6 col-sm-6">
                            <input type="text" class="form-control" value="总收入" readonly>
                        </div>
                        <div class="col-xs-6 col-sm-6">
                            <input type="text" class="form-control" name="ginput" value="{$list.ginput}元" placeholder="...">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6 col-sm-6">
                            <input type="text" class="form-control" value="总支出" readonly>
                        </div>
                        <div class="col-xs-6 col-sm-6">
                            <input type="text" class="form-control" name="goutput" value="{$list.goutput}元" placeholder="...">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6 col-sm-6">
                            <input type="text" class="form-control"  value="剩余" readonly>
                        </div>
                        <div class="col-xs-6 col-sm-6">
                            <input type="text" class="form-control" value="{$list['ginput']-$list['goutput']}元" placeholder="...">
                        </div>
                        <br>
                        <br>
                        <div class="panel panel-info" style="width: 95%;margin-left:2.5%;">
                            <div class="panel-heading">
                                <h3 class="panel-title">支出详情：</h3>
                            </div>
                            <div class="panel-body">
                                <foreach name="list['each_record']" item="vo">
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-12">
                                        <input type="text" class="form-control" value="{$vo.create_time|date='d H:i',###}-{$vo.content}-{$vo.output_money}元" readonly>
                                    </div>
                                </div>
                                </foreach>
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-12">
                                        <input type="text" class="form-control" name="each_record" placeholder="xx号-xxxxx-xx块">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-12 text-center">
                                        <input type="hidden" name="sid" value="{$vo.sid}">
                                        <button type="submit" class="btn btn-default">添加</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>

<include file="Public:footer"  />