<extend name="Public:base" />

<block name="info">
    <div class="info">
        <figure>
            <img src="__PUBLIC__/images/art.jpg" alt="Panama Hat">
            <figcaption>
                <strong>渡人如渡己，渡已，亦是渡</strong>
                当我们被误解时，会花很多时间去辩白。 但没有用，没人愿意听，大家习惯按自己的所闻、理解做出判别，每个人其实都很固执。与其努力且痛苦的试图扭转别人的评判，不如默默承受，给大家多一点时间和空间去了解。而我们省下辩解的功夫，去实现自身更久远的人生价值。其实，渡人如渡己，渡已，亦是渡人。
            </figcaption>
        </figure>
        <div class="card">
            <h1>我的名片</h1>
            <p>网名：<span style="font-size: 16px;color: #2aabd2;">{$Think.session.real_name}</span></p>
            <p>职业：PHP开发工程狮</p>
            <p>电话：15007874551</p>
            <p>Email：1402205524@qq.com</p>
            <ul class="linkmore">
                <li><a href="" class="talk" title="给我留言"></a></li>
                <li><a href="" class="address" title="联系地址"></a></li>
                <li><a href="" class="email" title="给我写信"></a></li>
                <li><a href="" class="photos" title="生活照片"></a></li>
                <li><a href="" class="heart" title="关注我"></a></li>
            </ul>
        </div>
    </div>
</block>
<block name="content">
    <ul class="bloglist">
        <li>
            <div class="arrow_box">
                <div class="ti"></div>
                <div class="ci"></div>
                <h2 class="title"><a href="#">我希望我的爱情是这样的</a></h2>
                <ul class="textinfo">
                    <a href="#"><img src="__PUBLIC__/images/s1.jpg" alt=""></a>
                    <p> 我希望我的爱情是这样的，相濡以沫，举案齐眉，平淡如水。我在岁月中找到他，依靠他，将一生交付给他。做他的妻子，他孩子的母亲，为他做饭，洗衣服，缝一颗掉了的纽扣。然后，我们一起在时光中变老。</p>
                </ul>
                <ul class="details">
                    <li class="likes"><a href="">10</a></li>
                    <li class="comments"><a href="">34</a></li>
                    <li class="icon-time"><a href="">2017.12.20</a></li>
                </ul>
            </div>
        </li>
        <li>
            <div class="arrow_box">
                <div class="ti"></div>
                <div class="ci"></div>
                <h2 class="title"><a href="#">我希望我的爱情是这样的</a></h2>
                <ul class="textinfo">
                    <a href="#"><img src="__PUBLIC__/images/s1.jpg" alt=""></a>
                    <p> 我希望我的爱情是这样的，相濡以沫，举案齐眉，平淡如水。我在岁月中找到他，依靠他，将一生交付给他。做他的妻子，他孩子的母亲，为他做饭，洗衣服，缝一颗掉了的纽扣。然后，我们一起在时光中变老。</p>
                </ul>
                <ul class="details">
                    <li class="likes"><a href="">10</a></li>
                    <li class="comments"><a href="">34</a></li>
                    <li class="icon-time"><a href="">2017.12.20</a></li>
                </ul>
            </div>
        </li>
        <li>
            <div class="arrow_box">
                <div class="ti"></div>
                <div class="ci"></div>
                <h2 class="title"><a href="#">我希望我的爱情是这样的</a></h2>
                <ul class="textinfo">
                    <a href="#"><img src="__PUBLIC__/images/s1.jpg" alt=""></a>
                    <p> 我希望我的爱情是这样的，相濡以沫，举案齐眉，平淡如水。我在岁月中找到他，依靠他，将一生交付给他。做他的妻子，他孩子的母亲，为他做饭，洗衣服，缝一颗掉了的纽扣。然后，我们一起在时光中变老。</p>
                </ul>
                <ul class="details">
                    <li class="likes"><a href="">10</a></li>
                    <li class="comments"><a href="">34</a></li>
                    <li class="icon-time"><a href="">2017.12.20</a></li>
                </ul>
            </div>
        </li>
        <li>
            <div class="arrow_box">
                <div class="ti"></div>
                <div class="ci"></div>
                <h2 class="title"><a href="#">我希望我的爱情是这样的</a></h2>
                <ul class="textinfo">
                    <a href="#"><img src="__PUBLIC__/images/s1.jpg" alt=""></a>
                    <p> 我希望我的爱情是这样的，相濡以沫，举案齐眉，平淡如水。我在岁月中找到他，依靠他，将一生交付给他。做他的妻子，他孩子的母亲，为他做饭，洗衣服，缝一颗掉了的纽扣。然后，我们一起在时光中变老。</p>
                </ul>
                <ul class="details">
                    <li class="likes"><a href="">10</a></li>
                    <li class="comments"><a href="">34</a></li>
                    <li class="icon-time"><a href="">2017.12.20</a></li>
                </ul>
            </div>
        </li>
    </ul>
</block>