<!DOCTYPE html>
<html>
<head>
	<title>MyLifePlan</title>
	<meta charset="utf-8">
	<style type="text/css">
		#container{width: 800px;margin: 0 auto;margin-top: 50px;text-align: center;}
		#date{width: 100%;height: 30px;text-align: left;color: green;}
		#time_01,#time_02,#time_03{width: 20%;height: 60px;float: left;color: green;}
		#content_01,#content_02,#content_03{width: 80%;height: 160px;float: left;text-align: left;}
		#url{width: 100%;height: 100px;text-align: left;}
		#url a{text-decoration: none;color: #666;display: block;float:left;height:30px;}
		#need{width: 100%;text-align: left;}
		#copyright{width: 100%;height: 30px;text-align: right;margin-top:50px;}
	</style>
</head>
<body>
<div id="container">
	<!-- <h2>TO SAY AND TO DO AND IT WILL CHANGE.</h2> -->
	<h2>My Dream —— After work, I can cook with my family!</h2>
	<hr>
	<div id="date">2017.08.14</div>
	<hr>
	<div id="time_01">9:00-12:00</div>
	<div id="content_01">后台客服原理分析及各接口的实现。</div>
	<hr>
	<div id="time_02">14:00-16:00</div>
	<div id="content_02">后台客服原理分析及各接口的实现。</div>
	<hr>
	<div id="time_03">22:00-00:00</div>
	<div id="content_03">基于thinkPHP3.2.3+gatewayworker+vue.js+bootstrap的聊天系统。</div>
	<div id="url">
		<a href="http://hao.360.cn/"  >网址大全|</a>
		<a href="http://www.baidu.com"  >百度一下|</a>
		<a href="http://fanyi.baidu.com/"  >百度翻译|</a>
		<a href="http://pan.java1234.com/"  >百度网盘搜索引擎|</a>
		<a href="http://www.shouce.ren/" >手册网|</a>
		<a href="http://www.w3cplus.com/" >大漠-w3cplus|</a>
		<a href="http://www.52pojie.cn/"  >吾爱破解|</a>
		<a href="http://document.thinkphp.cn/manual_3_2.html"  >ThinkPHP3.2开发手册|</a>
		<a href="http://www.easyicon.net/"  >图标下载|</a>
		<a href="http://www.runoob.com/"  >菜鸟教程|</a>
		<a href="http://www.elecfans.com/"  >电子技术|</a>
		<a href="http://www.manew.com/"  >Unity3d教程|</a>
		<a href="http://www.csdn.net/"  >全球最大中文IT社区|</a>
		<a href="https://www.west.cn/"  >西部数码|</a>
		<a href="http://www.gxpta.com.cn/"  >广西人事考试网|</a>
		<a href="http://www.21wecan.com/"  >卫生人才|</a>
		<a href="http://www.yunpankk.com/"  >云盘影视</a>
	</div>
<!--	<div id="need">
		<br>
		<p><h3>男女朋友最值得做的100件事...</h3></p>
		<hr>
		1、一起看雪
		<hr>
		2、一起看海　　
		<hr>
		3、手牵手逛街　
		<hr>
		4、喂我吃东西　　
		<hr>
		5、一起堆雪人　　　
		<hr>
		6、一起坐摩天轮　　　
		<hr>
		7、一起恶作剧　
		<hr>
		8、一起进鬼屋　
		<hr>
		9、吃同一杯冰淇淋　
		<hr>
		10、一起搬东西　
		<hr>
		11、一起布置我们的小窝　　
		<hr>
		12、一起看日出　　　
		<hr>
		13、半夜一起看恐怖片　　
		<hr>
		14、送我一束花　　
		<hr>
		15、为我做顿饭　
		<hr>
		16、牵着我的手过马路　　　
		<hr>
		17、一起看日落　　
		<hr>
		18、一起数星星　
		<hr>
		19、一起洗衣服　
		<hr>
		20、背靠背听同一首曲子　
		<hr>
		21、在朋友面前介绍我　　
		<hr>
		22、把肩膀借给我靠　　　
		<hr>
		24、为我擦眼泪　　　
		<hr>
		24、为我唱首歌　　
		<hr>
		25、为我写篇日记　　
		<hr>
		26、在大街上背我
		<hr>
		27、随叫随到　　
		<hr>
		28、一起看球赛　
		<hr>
		29、比赛啃西瓜　
		<hr>
		30、一起捏泥人，一个你，一个我　　
		<hr>
		31、一起没形象的大叫　　
		<hr>
		32、一起熬夜玩游戏　　
		<hr>
		33、比赛喝酒　　
		<hr>
		34、早晨一起刷牙
		<hr>
		35、一起发呆　　　
		<hr>
		36、一起过我们的纪念日　
		<hr>
		37、一起对着流星许相同的愿望　　　
		<hr>
		38、一起折许愿星　　　
		<hr>
		39、一起做蛋糕　
		<hr>
		40、学对方说话　　　
		<hr>
		41、当一天陌生人　　　
		<hr>
		42、把你欺负的对我没辙
		<hr>
		43、讲一夜电话　　
		<hr>
		44、为我剪指甲　　
		<hr>
		45、一起养只小狗　
		<hr>
		46、一起拍照片　　　
		<hr>
		47、一起骑脚踏车　　
		<hr>
		48、戴同一条围巾　　
		<hr>
		49、戴同一双手套　　
		<hr>
		50、讲故事哄我睡觉　
		<hr>
		51、一起吃棉花糖　　
		<hr>
		52、一起去K歌　　
		<hr>
		53、一起淋雨　
		<hr>
		54、一起面对所有难堪　　
		<hr>
		55、一起爬山　　　
		<hr>
		56、一起露营　　　
		<hr>
		57、一起晨练　　　
		<hr>
		58、一起傻笑　　
		<hr>
		59、一起吃路边摊　　　
		<hr>
		60、一起去孤儿院送礼物　
		<hr>
		61、穿情侣装显摆　　
		<hr>
		62、一起玩牌　　　
		<hr>
		63、一起吃米线到吐
		<hr>
		64、一起踩马路到脚软　　
		<hr>
		65、一起去医院看婴儿　
		<hr>
		66、一起去海南的天涯海角;　
		<hr>
		67、把你打扮成女生　　　
		<hr>
		68、咬一下你的脸颊　　
		<hr>
		69、每天说晚安　　　
		<hr>
		70、一起看电影　　
		<hr>
		71、一起种花　　　
		<hr>
		72、比赛吹牛　　
		<hr>
		73、一起见对方的朋友　
		<hr>
		74、一起吃自助餐，牵着手进去，扶着墙出来　　
		<hr>
		75、一起荡秋千　　　
		<hr>
		76、一起做鬼脸　　
		<hr>
		77、一起走遍世界各地　　
		<hr>
		78、一起数钱(全是一角的)然后大笑　　
		<hr>
		79、一起扎气球赢奖品　　　
		<hr>
		80、站在马路的两侧大喊　
		<hr>
		81、看你打场球赛　
		<hr>
		82、一起看演唱会　　
		<hr>
		83、一起沿铁轨　　
		<hr>
		84、一起挤公车　
		<hr>
		85、一起放风筝　　
		<hr>
		86、一起去普罗旺斯看花田　　　
		<hr>
		87、趁你睡觉偷亲你一下　　
		<hr>
		88、一起放孔明灯　　
		<hr>
		89、起钓鱼　
		<hr>
		90、一起下棋　　　
		<hr>
		91、一起在烈日下暴晒　　
		<hr>
		92、手机铃声设置成对方的声音　
		<hr>
		93、每天为对方留言　
		<hr>
		94、一起捏对方的脸　
		<hr>
		95、比赛各种各样的事
		<hr>
		96、一起看烟火　
		<hr>
		97、在树下埋下我们的约定　　
		<hr>
		98、去海边放漂流瓶　　
		<hr>
		99、拍一次婚纱照　
		<hr>
		100、白头偕老
		<hr>
	</div>-->
	<div id="copyright">Copyright@yzhengwang&nbsp;Version:1.0.0</div>
	<br>
</div>
</body>
</html>