<!DOCTYPE html>
<html>
<head>
    <title>[title]</title>
    <meta charset="utf-8">
    <meta name="keywords" content="[keywords]" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/main.css">
    <script type="text/javascript" src="__PUBLIC__/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="__PUBLIC__/vue/vue.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/main.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <block name="static"></block>
</head>
<body>
<div class="container">
    <div class="row">
        <block name="content"></block>
        <div class="list-group">
            <li class="list-group-item text-right">Copyright@yzhengwang&nbsp;Version:1.0.0</li>
        </div>
    </div>
</div>
<block name="script"></block>
</body>
</html>
