<extend name="Public:base" />
<block name="static">
	<style>
		.login{
			width: 630px;
			color: #8c8c8c;
			background: rgba(20, 20, 20, 0.8);
			box-shadow: 0px 1px 0px rgba(255, 255, 255, .1), inset 0px 1px 1px rgba(0, 0, 0, .7);
			border-radius: 6px;
			float: left;
			margin-top: 20px;
			text-align: left;
			height: 800px;
		}
		.login form{
			width: 80%;
			height: 50%;
			margin: 100px auto;
			padding: 50px;
			display: flex;
			flex-direction: column;
		}
		.login input{
			background: rgba(0, 0, 0, 0.25);
			border: 1px solid #111;
			width: 320px;
			line-height: 30px;
			color: #b9b9b9;
			padding-left: 10px;
			padding-right: 25px;
			/*margin-left: 20px;*/
			margin-bottom: 50px;
		}

		.login label {
			margin-bottom: 10px;
			padding-left: 5px;
		}
	</style>
</block>
<block name="content">
	<div class="login" id="app">
		<form method="post" action="{:U('login')}">
			<label class="">{{nameErrorPrompt}}</label>
			<input v-model="name" type="text" name="name" placeholder="请输入用户名：">
			<label class="">{{pwdErrorPrompt}}</label>
			<input v-model="pwd" type="password" name="pwd" placeholder="请输入密码：">
			<input type="submit" value="登录"/>
		</form>
	</div>
</block>
<block name="script">
	<script type="application/javascript">

		var getNameApi = "{:U('getName')}";
		var getPwdApi = "{:U('getPwd')}";

		var v = new Vue({
			el:'#app',
			data:{
				name:'',
				pwd:'',
                nameErrorPrompt: '请输入用户名！',
                pwdErrorPrompt: '请输入密码！',
				nameRight:false,
				pwdRight:false
			},
			watch:{
				name:function () {
					if(this.name==''){
                        this.nameErrorPrompt = '用户名不能为空！';
						$("input[type='text']").prev('label').css("color","red");
//						$("button[type='submit']").attr("disabled",true);
					}
				},
				pwd:function () {
					if(this.pwd==''){
                        this.pwdErrorPrompt = '密码不能为空！';
						$("input[type='password']").prev('label').css("color","red");
//						$("button[type='submit']").attr("disabled",true);
					}
				},
				/*pwdRight:function () {
					if(this.nameRight&&this.pwdRight){
						$("button[type='submit']").removeAttr("disabled");
					}
				}*/
			},
			methods:{
				getName:function () {
					let vm = this;
					$.ajax({
						type: "POST",
						url: getNameApi,
						data: "name="+this.name,
						success: function(msg){
							if(msg!='true'){
								vm.nameErrorPrompt = '没有该用户！';
								$("button[type='submit']").attr("disabled",true);
							}else{
								vm.nameErrorPrompt = '用户名正确！';
								$("input[type='text']").prev('label').css("color","green");
								vm.nameRight = true;
							}
						}
					});
				},
				getPwd:function () {
					let vm = this;
					$.ajax({
						type: "POST",
						url: getPwdApi,
						data: "name="+this.name+"&pwd="+this.pwd,
						success: function(msg){
							if(msg!='true'){
								vm.pwdErrorPrompt = '密码错误！';
								$("button[type='submit']").attr("disabled",true);
							}else{
								vm.pwdErrorPrompt = '密码正确！';
								$("input[type='password']").prev('label').css("color","green");
								vm.pwdRight = true;
							}
						}
					});
				}
			}

		});
	</script>
</block>
