<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登陆页</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/main.css">
	<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
	<style type="text/css">
		.login-error-prompt{color: red;margin-left: 5px;margin-top: 5px;font-size: 10px;}
	</style>
</head>
<body>
	<div class="container" id="app">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 text-center" style="padding-top: 100px;">
				<form method="post" action="{:U('login')}">
					<div class="panel panel-info text-left">
						<div class="panel-heading">
							<h3 class="panel-title">come...</h3>
						</div>
						<div class="panel-body">
							<div class="form-group">
								<br>
								<label class="login-error-prompt">{{nameErrorPrompt}}</label>
								<input v-model="name" type="text" class="form-control" name="name" placeholder="请输入用户名：">
							</div>
							<div class="form-group">
								<label class="login-error-prompt">{{pwdErrorPrompt}}</label>
								<input v-model="pwd" type="password" class="form-control" name="pwd" placeholder="请输入密码：">
							</div>
							<div class="form_actions text-center">
								<button type="submit" class="btn btn-default" disabled>提交</button>
							</div>
						</div>
					</div>
				</form>
				<br>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="__PUBLIC__/js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="__PUBLIC__/vue/vue.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/main.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script type="application/javascript">

	var getNameApi = "{:U('getName')}";
	var getPwdApi = "{:U('getPwd')}";

	var v = new Vue({
		el:'#app',
		data:{
			name:'',
			pwd:'',
			nameErrorPrompt:'*请输入用户名！',
			pwdErrorPrompt:'*请输入密码！',
			nameRight:false,
			pwdRight:false
		},
		watch:{
			name:function () {
				if(this.name==''){
					this.nameErrorPrompt = '*用户名不能为空！';
					$("input[type='text']").prev('label').css("color","red");
					$("button[type='submit']").attr("disabled",true);
				}else{
					this.getName();
				}
			},
			pwd:function () {
				if(this.pwd==''){
					this.pwdErrorPrompt = '*密码不能为空！';
					$("input[type='password']").prev('label').css("color","red");
					$("button[type='submit']").attr("disabled",true);
				}else{
					this.getPwd();
				}
			},
			pwdRight:function () {
				if(this.nameRight&&this.pwdRight){
					$("button[type='submit']").removeAttr("disabled");
				}
			}
		},
		methods:{
			getName:function () {
				let vm = this;
				$.ajax({
					type: "POST",
					url: getNameApi,
					data: "name="+this.name,
					success: function(msg){
						if(msg!='true'){
							vm.nameErrorPrompt = '没有该用户！';
							$("button[type='submit']").attr("disabled",true);
						}else{
							vm.nameErrorPrompt = '用户名正确！';
							$("input[type='text']").prev('label').css("color","green");
							vm.nameRight = true;
						}
					}
				});
			},
			getPwd:function () {
				let vm = this;
				$.ajax({
					type: "POST",
					url: getPwdApi,
					data: "name="+this.name+"&pwd="+this.pwd,
					success: function(msg){
						if(msg!='true'){
							vm.pwdErrorPrompt = '密码错误！';
							$("button[type='submit']").attr("disabled",true);
						}else{
							vm.pwdErrorPrompt = '密码正确！';
							$("input[type='password']").prev('label').css("color","green");
							vm.pwdRight = true;
						}
					}
				});
			}
		}

	});


</script>
</html>