<extend name="Public:base" />
<block name="static">
	<style>
		.login{
			width: 630px;
			color: #8c8c8c;
			background: rgba(20, 20, 20, 0.8);
			box-shadow: 0px 1px 0px rgba(255, 255, 255, .1), inset 0px 1px 1px rgba(0, 0, 0, .7);
			border-radius: 6px;
			margin-top: 20px;
			text-align: center;
			height: 800px;
			float: left;
		}
		.login form{
			width: 80%;
			min-height: 50%;
			margin: 50px auto;
			padding: 50px;
			text-align: left;
			display: flex;
			flex-direction: column;
		}

		.login form img{
			width: 50px;
			height: 50px;
			border: 1px solid #fafafa;
			margin-left: 150px;
			margin-top: 20px;
			margin-bottom: 50px;
		}

		.login input{
			background: rgba(0, 0, 0, 0.25);
			border: 1px solid #111;
			width: 320px;
			line-height: 30px;
			color: #b9b9b9;
			padding-left: 10px;
			padding-right: 25px;
			margin-left: 20px;
			margin-bottom: 30px;
		}
	</style>
</block>
<block name="content">
	<div class="login">
		<form method="post" action="{:U('register')}">
			<h2>注册</h2>
			<img src="__PUBLIC__/images/01.jpg" alt="头像">
			<input v-model="name" type="text" name="name" placeholder="用户名：">
			<input v-model="pwd" type="password" name="pwd" placeholder="密码：">
			<input v-model="repwd" type="password" name="repwd" placeholder="确认密码：">
			<input v-model="rcode" type="text" name="rcode" placeholder="验证码：">
			<input type="submit" value="确认"/>
		</form>
	</div>
</block>
<block name="script">
	<script type="application/javascript">

		var getNameApi = "{:U('getName')}";
		var getPwdApi = "{:U('getPwd')}";

		var v = new Vue({
			el:'#app',
			data:{
				name:'',
				pwd:'',
				nameErrorPrompt:'*请输入用户名！',
				pwdErrorPrompt:'*请输入密码！',
				nameRight:false,
				pwdRight:false
			},
			watch:{
				name:function () {
					if(this.name==''){
						this.nameErrorPrompt = '*用户名不能为空！';
						$("input[type='text']").prev('label').css("color","red");
						$("button[type='submit']").attr("disabled",true);
					}else{
						this.getName();
					}
				},
				pwd:function () {
					if(this.pwd==''){
						this.pwdErrorPrompt = '*密码不能为空！';
						$("input[type='password']").prev('label').css("color","red");
						$("button[type='submit']").attr("disabled",true);
					}else{
						this.getPwd();
					}
				},
				pwdRight:function () {
					if(this.nameRight&&this.pwdRight){
						$("button[type='submit']").removeAttr("disabled");
					}
				}
			}

		});
	</script>
</block>
