<extend name="Public:base"/>
<block name="static">
    <style type="text/css">
        .msg_board {
            width: 630px;
            color: #8c8c8c;
            background: rgba(20, 20, 20, 0.8);
            box-shadow: 0px 1px 0px rgba(255, 255, 255, .1), inset 0px 1px 1px rgba(0, 0, 0, .7);
            border-radius: 6px;
            float: left;
            margin-top: 20px;
        }

        .msg_board .main_bd {
            font-family: "微软雅黑";
            width: 100%;
            display: flex;
            flex-direction: row;
            border-top: 1px solid rgba(255, 255, 255, .5);
        }

        .textarea {
            width: 100%;
            margin: 15px auto;
            text-align: center;
        }

        .textarea textarea {
            background: rgba(0, 0, 0, 0.25);
            width: 85%;
            color: #ffffff;
            padding: 10px;
            border-radius: 6px;
            font-size: 16px;
            font-family: 微软雅黑;
        }

        .textarea input {
            background: rgba(0, 0, 0, 0.25);
            width: 80px;
            height: 25px;
            margin-top: 10px;
            margin-left: 400px;
            /*background: #fafafa;*/
            border: 1px solid #8c8c8c;
            color: #8c8c8c;
            cursor: pointer;

        }

        .msg_board .face {
            width: 15%;
        }

        .msg_board .face img {
            box-shadow: 0px 1px 0px rgba(205, 255, 255, .1), inset 0px 1px 1px rgba(0, 0, 0, .7);
            width: 70px;
            height: 70px;
            padding: 10px;
        }

        .msg_board .main_bd .main_right {
            width: 90%;
        }

        .msg_board .toolbar {
            width: 100%;
            height: 45px;
        }

        .msg_board .toolbar li {
            line-height: 35px;
            width: 50px;
            float: left;
        }

        .msg_board .toolbar li:first-child {
            max-width: 80px;
            margin-right: 10px;
            overflow: hidden;
        }

        .msg_board .toolbar li:last-child {
            width: 100px;
            float: right;
        }
        .msg_board .toolbar li:last-child select{
            background: rgba(0, 0, 0, 0.25);
            width: 50px;
            height: 25px;
            border: 0;
            margin-left: 10px;
            margin-right: 10px;
            padding: 2px;
        }

     /*   .msg_board .toolbar li:last-child select option{
            background: rgba(0, 0, 0, 0.25);
            width: 80px;
            height: 25px;
        }*/

        .msg_board .content {
            min-height: 80px;
            width: 90%;
            font-size: 16px;
        }

        .msg_board .time {
            width: 70%;
            height: 35px;
        }

        .msg_board .reply_msg {
            width: 100%;
            display: flex;
            border-top: 1px solid rgba(255, 255, 255, .5);
            padding-top: 10px;
            flex-direction: row;
        }

        .msg_board .reply_msg div:first-child {
            width: 12%;
        }

        .msg_board .reply_msg div:nth-child(2) {
            width: 12%;
        }

        .msg_board .reply_msg .reply_right{
            /*flex-direction: column;*/
            width: 76%;
        }

        .msg_board .reply_msg .reply_right div:first-child{
            width: 95%;
            margin-bottom: 20px;
        }

        .msg_board .reply_msg .reply_right div:nth-child(2) {
            width: 95%;
            margin-bottom: 20px;
        }

        .msg_board .reply_msg .reply_right div:nth-child(3){
            width: 95%;
            margin-bottom: 16px;
        }

        .msg_board .reply_msg img {
            margin-right: 10px;
            width: 50px;
            height: 50px;
        }

        .msg_board .reply_box {
            width: 100%;
            display: flex;
            /*position: absolute;*/
            flex-direction: row;
            margin-bottom: 10px;
            /*border: 1px solid red;*/

            display: none;
        }

        .msg_board .reply_box input, button {
            background: rgba(0, 0, 0, .5);
            border: 1px solid #111;
            width: 200px;
            line-height: 30px;
            color: #b9b9b9;
            padding-left: 10px;
            padding-right: 25px;
            margin-right: 1px;
        }

        .msg_board .reply_box button {
            text-align: center;
            width: 80px;
            padding: 0;
            cursor: pointer;
        }
    </style>
</block>
<block name="content">
    <div class="msg_board">
        <div class="textarea">
            <textarea cols="20" rows="4" name="content" id="textarea" placeholder="添加留言..."></textarea>
            <input type="button" ng-click="addMsg($event,'msg')" value="发布">
        </div>
        <volist name="list" id="vo">
            <div class="main_bd">
                <div class="face"><img src="__PUBLIC__/images/01.jpg" alt=""></div>
                <div class="main_right">
                    <div class="toolbar">
                        <ul>
                            <li>{$vo.id}楼</li>
                            <li>{$vo.status}</li>
                            <li></li>
                            <li>引用
                                <select name="" id="">
                                    <option value="">选择</option>
                                    <option value="">删除</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        {$vo.content}
                    </div>
                    <div class="time">
                        {$vo.create_time} &nbsp;<a href="javascript:;" ng-click="reply({$vo.uid},{$vo.id},$event)">回复</a>&nbsp;<a href="">送礼</a>
                    </div>
                    <div class="reply_box">
                        <input type="text" name="content" placeholder="输入回复">
                        <button ng-click="addMsg($event,'reply')">回复</button>
                        <button ng-click="cancel()">取消</button>
                    </div>
                    <volist name="vo['reply']" id="item">
                        <div class="reply_msg">
                            <div><img src="__PUBLIC__/images/01.jpg" alt=""></li></div>
                            <div>{$item.uid}回复{$item.sid}</div>
                            <div class="reply_right">
                                <div>{$item.content}</div>
                                <div>{$item.create_time} &nbsp;<a href="javascript:;" ng-click="reply({$item.uid},{$vo.id},$event)">回复</a></div>
                                <div class="reply_box">
                                    <input type="text" name="content" placeholder="输入回复">
                                    <button ng-click="addMsg($event,'reply')">回复</button>
                                    <button ng-click="cancel()">取消</button>
                                </div>
                            </div>
                        </div>
                    </volist>
                </div>
            </div>
        </volist>
    </div>
</block>
<block name="script">
    <script type="application/javascript" src="__PUBLIC__/ng/app.js"></script>
    <script type="application/javascript">

        app.controller('Controller', function ($scope, $http) {
            $scope.sid = '';
            $scope.mid = '';

            $scope.reply = function (sid, mid, $event) {
                $scope.sid = sid;
                $scope.mid = mid;
                $($event.path['1']).next().css('display','block');
            }

            $scope.addMsg = function ($event, type) {
                let url = "{:U('add')}";
                if(type == 'msg'){
                    var params = {
                        content: $("#textarea").val(),
                    }
                }else{
                    var params = {
                        sid: $scope.sid,
                        mid: $scope.mid,
                        content: $($event.target).prev().val(),
                    }
                }

                $http.post(url, params).success(function (data) {
                    if (data.code == 200) {
                        window.location.reload();
                    }
                });
            }
        });
    </script>
</block>