<include file="Public:header" title="留言板" keywords="留言板"/>
<style type="text/css">
    .message-board-createtime{
        color: palevioletred;
        font-size: 15px;
    }
</style>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <br>
                <foreach name="list" item="vo">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">[{$vo.author}]&nbsp;发表于：<span class="message-board-createtime">{$vo.create_time}</span></h3>
                        </div>
                        <div class="panel-body">
                            {$vo.content}
                        </div>
                    </div>
                </foreach>
                <div class="panel-foot text-center">
                    {$page}
                </div>
                <form role="form" action="{:U('add')}" method="post">
                    <div class="form-group">
                        <label for="content">write down your think...</label>
                        <textarea name="content" id="content" cols="20" rows="5" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default" type="submit">发表</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<include file="Public:footer" />