<extend name="Public:base" />
<block name="static">
    <style type="text/css">
        .fav_url{
            width: 630px;
            color: #fff;
            background: rgba(20, 20, 20, 0.8);
            box-shadow: 0px 1px 0px rgba(255, 255, 255, .1), inset 0px 1px 1px rgba(0, 0, 0, .7);
            border-radius: 6px;
            float: left;
            margin-top: 20px;
        }
        .fav_url p{
            width: 100px;
            margin: 20px;
            font-family: 幼圆;
            font-size: 20px;
        }
        .fav_url ul{
            width: 100%;
        }
        .fav_url li{
            width: 45%;
            height: 20px;
            margin: 10px;
            /*background: white;*/
            float: left;
            border-radius: 3px;
            line-height: 20px;
            padding: 5px;
        }
        .fav_url li span{
            margin-right: 10px;
            font-size: 18px;
            font-family: "微软雅黑";
            color: #f8490b;
        }
        .fav_url li a{
            color: #fafafa;
        }
        .fav_url li a:hover{
            color: #3e8f3e;
        }
    </style>
</block>
<block name="content">
    <div class="fav_url">
        <ul>
            <p>学习类型：</p>
            <foreach name="list" item="vo" >
                <li><a target="_blank" href="{$vo.url}"><span>{$vo.id}.</span>{$vo.url_name}</a></li>
            </foreach>
        </ul>
    </div>
</block>